<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>JOIN_BASE_URL</key>
	<string>$(JOIN_BASE_URL)</string>
	<key>STRIPE_PUBLISHABLE_KEY</key>
	<string>$(STRIPE_PUBLISHABLE_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is used by Stripe to scan payment cards. You can enter card details manually instead.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>playoffchallenge</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
